In [65]:
import pandas as pd
from datetime import datetime
import os
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [95]:
url = 'https://github.com/jwkuyper/IOWA_test/blob/main/Dataset10.18.xlsx?raw=true'
df = pd.read_excel(url, sheet_name='Sheet1', parse_dates=['date'])
df.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,AFG,Asia,Afghanistan,2019-12-31,NaN,0.0,NaN,NaN,0.0,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
1,AFG,Asia,Afghanistan,2020-01-01,NaN,0.0,NaN,NaN,0.0,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
2,AFG,Asia,Afghanistan,2020-01-02,NaN,0.0,NaN,NaN,0.0,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
3,AFG,Asia,Afghanistan,2020-01-03,NaN,0.0,NaN,NaN,0.0,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
4,AFG,Asia,Afghanistan,2020-01-04,NaN,0.0,NaN,NaN,0.0,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498

In [61]:
#df['date'] = pd.to_datetime(df['date'], format="%Y/%m/%d", utc=True)
#df['date'] = df['date'].dt.dayofyear

In [62]:
StringencyIndex_ByLocation = df.groupby('location').stringency_index.mean()

In [108]:
#need a better way to take out null values
df1 = df[['continent','date','stringency_index']]
df2 = df1[(df1.date<'2020-10-13')].dropna()
df2.tail()

      continent       date  stringency_index
50339    Africa 2020-10-08             76.85
50340    Africa 2020-10-09             76.85
50341    Africa 2020-10-10             76.85
50342    Africa 2020-10-11             76.85
50343    Africa 2020-10-12             76.85

In [110]:
df2[df2.date == "2020-10-18"]

Empty DataFrame
Columns: [continent, date, stringency_index]
Index: []

In [111]:
heatmap1_data = pd.pivot_table(df2, values='stringency_index', 
                     index=['continent'], 
                     columns='date')
heatmap1_data

date,2020-01-01,2020-01-02,2020-01-03,2020-01-04,2020-01-05,2020-01-06,2020-01-07,2020-01-08,2020-01-09,2020-01-10,...,2020-10-03,2020-10-04,2020-10-05,2020-10-06,2020-10-07,2020-10-08,2020-10-09,2020-10-10,2020-10-11,2020-10-12
continent,,,,,,,,,,,,,,,,,,,,,
Africa,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,51.218163,51.199388,50.821429,50.512609,50.512609,51.906190,50.071875,49.153448,48.233704,46.180000
Asia,0.102963,0.822963,1.028889,1.028889,1.131852,1.131852,1.234815,1.234815,1.234815,1.234815,...,56.965455,56.860227,56.607727,57.241905,57.192683,56.031111,55.709697,55.295000,55.587241,54.480357
Europe,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,41.411053,41.411053,41.126944,40.842188,41.189375,40.726129,43.038000,42.509091,42.990000,42.798889
North America,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,57.032381,57.032381,56.591905,55.393500,54.820000,54.820000,51.353077,51.353077,51.234167,50.539167
Oceania,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,42.592500,42.592500,42.592500,42.592500,45.216667,45.216667,33.795000,33.795000,33.795000,33.795000
South America,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,73.765556,73.765556,73.354444,73.545714,73.545714,73.545714,72.068333,73.380000,73.380000,70.680000

In [112]:
sns.heatmap(heatmap1_data, cmap="YlGnBu")

KeyError: <function dispatch_to_series.<locals>.column_op at 0x000001DF5863D8B0>