In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
from datetime import datetime

In [17]:
url = 'https://github.com/jwkuyper/IOWA_test/blob/main/Dataset_V1.xlsx?raw=true'
df = pd.read_excel(url,sheet_name='Sheet1')
#df.info()

In [16]:
#df.isnull().values.ravel().sum()
np.count_nonzero(df.isnull().values.ravel())

263355

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50936 entries, 0 to 50935
Data columns (total 26 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   iso_code                    50643 non-null  object
 1   continent                   50350 non-null  object
 2   location                    50936 non-null  object
 3   date                        50936 non-null  object
 4   total_cases                 47342 non-null  float64
 5   new_cases                   50071 non-null  float64
 6   total_deaths                38598 non-null  float64
 7   new_deaths                  50071 non-null  float64
 8   total_cases_per_million     47085 non-null  float64
 9   new_cases_per_million       50007 non-null  float64
 10  total_deaths_per_million    38356 non-null  float64
 11  new_deaths_per_million      50007 non-null  float64
 12  new_tests                   18456 non-null  float64
 13  total_tests                 18826 non-null  float64
 14  total_tests_per_thousand    18826 non-null  float64
 15  new_tests_per_thousand      18456 non-null  float64
 16  positive_rate               19467 non-null  float64
 17  stringency_index            42075 non-null  float64
 18  population                  50643 non-null  float64
 19  population_density          48305 non-null  float64
 20  median_age                  45378 non-null  float64
 21  gdp_per_capita              44781 non-null  float64
 22  female_smokers              35448 non-null  float64
 23  male_smokers                34995 non-null  float64
 24  hospital_beds_per_thousand  40925 non-null  float64
 25  life_expectancy             49998 non-null  float64
dtypes: float64(22), object(4)
memory usage: 10.1+ MB