In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
from datetime import datetime

In [4]:
url = 'https://github.com/jwkuyper/IOWA_test/blob/main/Dataset_V1.xlsx?raw=true'
df = pd.read_excel(url,sheet_name='Sheet1')
#df.info()

In [9]:
null_columns=df.columns[df.isnull().any()]
df[null_columns].isnull().sum()

iso_code                        293
continent                       586
total_cases                    3594
new_cases                       865
total_deaths                  12338
new_deaths                      865
total_cases_per_million        3851
new_cases_per_million           929
total_deaths_per_million      12580
new_deaths_per_million          929
new_tests                     32480
total_tests                   32110
total_tests_per_thousand      32110
new_tests_per_thousand        32480
positive_rate                 31469
stringency_index               8861
population                      293
population_density             2631
median_age                     5558
gdp_per_capita                 6155
female_smokers                15488
male_smokers                  15941
hospital_beds_per_thousand    10011
life_expectancy                 938
dtype: int64

In [10]:
print(df[df.isnull().any(axis=1)][null_columns].head())

  iso_code continent  total_cases  new_cases  total_deaths  new_deaths  \
0      AFG      Asia          NaN        0.0           NaN         0.0
1      AFG      Asia          NaN        0.0           NaN         0.0
2      AFG      Asia          NaN        0.0           NaN         0.0
3      AFG      Asia          NaN        0.0           NaN         0.0
4      AFG      Asia          NaN        0.0           NaN         0.0

   total_cases_per_million  new_cases_per_million  total_deaths_per_million  \
0                      NaN                    0.0                       NaN
1                      NaN                    0.0                       NaN
2                      NaN                    0.0                       NaN
3                      NaN                    0.0                       NaN
4                      NaN                    0.0                       NaN

   new_deaths_per_million  ...  positive_rate  stringency_index  population  \
0                     0.0  ...            NaN               NaN  38928341.0
1                     0.0  ...            NaN               0.0  38928341.0
2                     0.0  ...            NaN               0.0  38928341.0
3                     0.0  ...            NaN               0.0  38928341.0
4                     0.0  ...            NaN               0.0  38928341.0

   population_density  median_age  gdp_per_capita  female_smokers  \
0              54.422        18.6        1803.987             NaN
1              54.422        18.6        1803.987             NaN
2              54.422        18.6        1803.987             NaN
3              54.422        18.6        1803.987             NaN
4              54.422        18.6        1803.987             NaN

   male_smokers  hospital_beds_per_thousand  life_expectancy
0           NaN                         0.5            64.83
1           NaN                         0.5            64.83
2           NaN                         0.5            64.83
3           NaN                         0.5            64.83
4           NaN                         0.5            64.83

[5 rows x 24 columns]